*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.5;
  color: #2b303b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 1em auto;
  text-align: center;
}
h2 {
  font-size: 32px;
  font-size: 2rem;
}
.center {
  text-align: center;
}
.example {
  margin-bottom: 20px;
}
.playground:after {
  content: "";
  display: table;
  clear: both;
  background: white;
}
.playgroundTab {
  border-bottom: none !important;
  border-radius: 3px 3px 0 0;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: bold;
  color: #039175;
  display: inline-block;
  cursor: pointer;
}
.playgroundCode,
.playgroundTab,
.playgroundPreview {
  border: 1px solid rgba(16, 16, 16, 0.1);
  background: white;
}
.playgroundCode,
.playgroundPreview {
  display: block;
  border-radius: 0 3px 3px 3px;
}
/* Layout */
.container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 1em;
  padding-right: 1em;
}
.row {
  padding: 20px 0;
  padding: 1rem 0;
}
/* header */
header {
  position: relative;
  padding-top: 36px;
  padding-bottom: 45px;
  margin-bottom: 3rem;
}
header:before {
  content: "";
  background: #36D7B7;
  box-shadow: 0 15px 0 #2ABB9B, 0 30px 0 #16A085, 0 45px 0 #039175;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin-top: -170px;
  position: absolute;
  top: 0;
  right: -20%;
  left: -20%;
  bottom: 0;
}
.logo {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  height: 230px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 230px;
  background: #36D7B7;
  color: #fff;
  border: 22px solid #fff;
  text-rendering: optimizeLegibility;
}
.logo:before {
  content: "H";
  font-size: 140px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 1;
  pointer-events: none;
}
main {
  padding-top: 36px;
}
.installer {
  display: inline-block;
  background: #2b303b;
  border: 1px solid #16191F;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 16px 32px;
}
footer {
  background: #2b303b;
  color: #fff;
}
footer a {
  font-weight: 700;
  color: #36D7B7;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  color: #fff;
}
.CodeMirror {
  height: 800px;
}
.blur {
  -webkit-animation: blur 1s 3s ease-out infinite;
}
@-webkit-keyframes blur {
  from {
    transform: scaleX(1.1) scaleY(1.1);
    opacity: 0.8;
  }
}
